*{
    font-family: Helvetica;
}

h1{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.headingstext{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushtext{
    background-color: mediumspringgreen;
}

.framestext{
    background-color: lightcoral;
}

.painttext{
    background-color: skyblue;
}

.h3text{
    color: black;
}

.ptext{
    color: black;
}

.cost{
    font-weight: bold;
    color: blue;
}