.banner{
background-color: #4d00ff;
color: white;
margin-top: 50px;
text-align: center;
padding: 100px 0px;
}

#small-gritty{
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black);
}

#gritter{
    color: #4D00FF;
    font-size: 100px;
}

.bold{
font-weight: 900;
}

.navbar{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
  
}

.navbar li{
    display: inline-block;
    padding: 30px 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

a.blue{
color: blue;
}

#greets ul{
list-style-type: none;
}

.gritter-section{
    padding: 20px 50px;
}

.avatar{
    background-image: url(../images/PNG\ Gritty.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}